/* ******* Media Queries Desktop First ******* */

@media (max-width: 940px) {

    .banner-container-slider {
        width: 100%;
        /* max-width: 900px; */
        margin: auto; /*centrar img*/
        overflow: hidden;
        position: relative;
    }

    .banners { /*CONTAINER 2*/
        display: flex;
        width: 400%; 
        /* height: 100px; */
        margin-left: -100%;
    }

    .slide {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .slider__btn--left {
        left: 10px; /*posición botones con respecto al position absolute*/
        display: block;
    }
    
    .slider__btn--right {
        right: 10px; /*posición botones con respecto al position absolute*/
        display: block;
    }

    .contenedor-productos {
        grid-template-columns: repeat(2, 1fr);
    }

    .last-card {
        display: none;
    }

}

@media (max-width: 700px) {
    .home-content h2 {
        font-size: 8rem;
    }

    .home-content h4 {
        font-size: 2.5rem;
    }

    .ul {
        gap: .5rem;
    }

    .boton-categoria {
        padding: .5rem .6rem;
    }

    .producto-imagen {
        border-radius: .2rem;
        height: 350px;
        width: 300px;
    }
}

@media (max-width: 600px) {
    .home-content h2 {
        font-size: 7rem;
    }

    .ul {
      margin-right: 1rem;
    }

    .producto-imagen {
        border-radius: .2rem;
        height: 300px;
        width: 250px;
    }

    .registro-contenido-parrafo {
        font-size: .9rem;
    }

}

@media (max-width: 370px) {
    .header h1 {
        font-size: 1.5rem;
    }

    .home-content h2 {
        font-size: 4.5rem;
    }

    .home-content h4 {
        font-size: 1.5rem;
    }

    .slide h3 {
        font-size: 1rem;
    }

    .card-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
    }

    .card {
        width: 300px;
        height: 350px;
        margin: 0 auto;
    }

    .card h4 {
        font-size: 1rem;
    }

    .ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contenedor-productos {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .registro-contenido-parrafo {
        font-size: .7rem;
    }

    .form-container {
        width: 100%;
        height: 500px;
    }

    .form-input {
        width: 300px;
    }

    .form-submit-btn {
        width: 250px;
    }

    .boton-volver {
        margin-right: 3rem;
    }

    .carrito-producto {
       flex-direction: column;
       align-items: center;
    }

    .carrito-producto small {
        text-align: center;
    }

    .carrito-acciones {
        gap: 1rem;
        margin: .5rem;
    }

    .carrito-acciones-derecha {
        width: 90%;
    }
}