/* ******* Reset ******* */

html {
    box-sizing: border-box;
    font-family: ubuntu;
    font-size: 16px;
    scroll-behavior: smooth;
 }

 *,
 *::after,
 *::before {
    box-sizing: inherit;
 }


 body {
    margin: 0;
    overflow-x: hidden;
 }


/* ***** header  ****** */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    /* background-color: #090909;
    opacity: .8; */
    /* background-color: transparent; */
    position: fixed;
    z-index: 999;
    width: 100%;
    transition: all .5s ease-in-out;
}

.header h1 {
    opacity: .7;
}

.header-icon a {
    text-decoration: none;
}

.header-icon i {
    color: #fff;
    opacity: .7;
    padding-left: 2rem;
    font-size: 1.3rem;
    position: relative;
}

.numerito {
    color: #fd3a2d;
    position: absolute;
    padding: .5rem;
    top: 20%;
}

/* ***** home ***** */

.home {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(assets/img-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color:rgba(0, 0, 0, 0.9); */
    display: flex;
    justify-content: center;
}

.home-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home-content h2 {
    font-size: 9rem;
    letter-spacing: 6px;
    color: #fd3a2d;
}

.home-content h4 {
    font-size: 3rem;
    color: #fd3a2d;
    opacity: .7;
    align-self: center;
}

/* ***** banner ***** */

.banner {
    margin-top: 3rem;
}

.banners {
    display: flex;
    justify-content: space-evenly; 
    width: 100vw;
    background-color: rgba(9,9,9,0.1);
    padding: 2rem;
    margin: 0 auto;
}

.slide {
    flex-wrap: nowrap;
}

.slide i {
    font-size: 40px;
    color: #fd3a2d;
    transition: 1s;
}


.slide i:hover {
    opacity: .7;
}

.slide h3 {
    opacity: .8;
    transition: 1s;
}

.slide p {
    opacity: .8;
}

.slide h3:hover {
    opacity: 10;
}

.slide p:hover {
    opacity: 10;

}

/* ***** destacadas ***** */

.destacados {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destacados h2 {
    /* font-weight: 500; */
    align-self: center;
    font-size: 3rem;
    opacity: .8;
    transition: .5s;
}

.destacados h2:hover {
    opacity: 10;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    overflow: hidden;
    position: relative;
    height: 600px;
    width: 450px;
    margin: 1rem;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.50);
    transition: 0.5s;
}

.card-img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-fit: cover;
}

.card-img:hover {
    transform: scale(1.1);
}

.card h4 {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    right: 10%;
    color: rgba(9,9,9,0.5);
    transition: all .5 ease-in-out;
}

/****** productos *******/

.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

.ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}

.boton-categoria {
    padding: 1rem 2rem;
    background-color: #090909;
    opacity: .7;
    border: none;
    color: #ececec;
    font-size: 1rem;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .4s ease;
}

.boton-categoria:hover {
    opacity: .9;
}

.boton-categoria.active {
    background-color: #090909;
    opacity: .9;
}


/***** estilos para la render card *****/

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.producto-imagen {
    max-width: 100%;
    border-radius: .2rem;
    height: 400px;
    width: 350px;
}

.producto-detalles {
    /* background-color: rgba(9,9,9,0.5); */
    background-color: #fff;
    color: #090909;
    padding: .5rem;
    border-radius: .5rem;
    margin-top: -1rem;
    width: 100%;
    margin-bottom: 2rem;
}


.producto-titulo {
    font-size: 1.2rem;
    text-align: center; 
}

.producto-precio {
    text-align: center;
}

.producto-agregar {
    border: 0;
    background-color: #090909;
    opacity: .5;
    color: #ececec;
    padding: .5rem;
    text-transform: uppercase;
    border-radius: 2rem;
    width: 100%; 
    transition: all .5s ease;
    cursor: pointer;
}

.producto-agregar:hover {
    opacity: .7;
}


/* **** estilos carrito **** */

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.boton-volver {
    background-color: #090909;
    opacity: .9;
    padding: 1rem 5rem;
    border-radius: .4rem;
    color: #fd3a2d;
    text-decoration: none;
}

.boton-volver i {
    margin-right: 1rem;
}

.carrito-vacio,
.carrito-comprado {
    color: #090909;
    background-color: #fd3a2d;
    width: 40%;
    border-radius: .5rem;
    font-size: 2rem;
    text-align: center;
    padding: .2rem; 
    margin: 0 auto;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: .5rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(9,9,9,0.1);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: .5rem;
}

.carrito-producto-imagen {
    width: 8rem;
    height: 9rem;
    border-radius: .4rem;
}

.carrito-producto small {
    font-size: .80rem;
    color: #fd3a2d;
    /* text-align: center; */
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: #fd3a2d;
    font-size: 1rem;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    margin: .5rem;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: rgba(9,9,9,0.1);
    padding: 1rem;
    border-radius: .5rem;
    color: #fd3a2d;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    display: flex;
    background-color: rgba(9,9,9,0.1);
    padding-left: .5rem;
    padding-right: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    color: #fd3a2d;
    text-transform: uppercase;
    gap: .5rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: #fd3a2d;
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: rgba(9,9,9,0.7);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.disabled {
    display: none;
}



/* ***** footer **** */

.registro {
    margin-top: 5rem;
    background-color: #000;
    opacity: .9.5;
    color: #ececec;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}

.registro-contenido {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.registro-contenido-titulo {
    align-self: center;
    font-size: 2rem;
}

.registro-contenido-parrafo {
    font-size: 1rem;
}

.registro-contenido-link {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    align-items: center;
    background-color: #ececec;
    color: #090909;
    padding: 0 1rem;
    border-radius: .5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.registro-contenido-link i {
    color: #fd3a2d;
    font-size: 2rem;
}


.social-media {
    background-color: rgba(9,9,9,0.1);
    margin-top: 2rem;
    justify-content: center;
}

.social-media-text-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    padding: 2rem;
}

.social-media-info-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}

.social-media-info-contact i {
    font-size: 2rem;
    color: #333;
    transition: .2s ease-in;
}

.social-media-info-contact i:hover {
    color: #fd3a2d;
}